@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap');

body {
  display:flex;
  height:100vh;
  justify-content: center;
  align-items: center;
  background: rgb(79,0,143);
  background: radial-gradient(circle, rgba(79,0,143,1) 0%, rgba(27,0,50,1) 100%);
}

* {
  font-family: 'Roboto Mono', sans-serif;
}

.container {
  height:465px;
}